<div class="about row">
    <!--=== Title ===-->
    <div class=" about-title col-md-12">
        <h3>About</h3>
        <hr class="my-4">
    </div>

    <!--=== Sales Pitch & About ===-->
    <div class="about-textbox col-md-7">
        <p>
            We have a mission to repair phones for a fair cost! We believe you should not have to 
            spend a ton of money just to get your phone fixed. We use quality parts and strive
            to make your phone look as if you bought a brand new phone! We come to you to repair 
            your phone! You can choose the appointment location and we will be there! <br/></br/>
            - <span id="about-signature">Jay H. Redfern</span><i id="about-gen"> III</i> <br/>
        </p>
    </div>

    <!--=== Company Logo ===-->
    <div class="about-logobox col-md-5">
            <img alt="Company Logo" id="about-image" src="/assets/Redfearn Phone Repair.png"/>
    </div>
</div>