<!--== Title ==-->
<div class="row">
    <div class="splash col-md-9">
        <div class="jumbotron jumbotron-fluid" id="sp-photo">
            <div class="container">
                    <h2 class=" splash-text display-3">Redfern Phone Repair</h2>
                    <hr class="my-4">
                    <h5 id="splash-motto"> You Know when you need a repair!</h5>
            </div>  
        </div>
    </div>

    <!--== Aside info ==-->
    <div class="splash-info col-md-3">
        <h5>We fix the screens on a variety of iPhone Models</h5>
        <a src="#prices">See Prices</a>
    </div>
</div>