<!--== Title ==-->
<div class="row">
    <div class="splash col-md-9">
        <div class="jumbotron jumbotron-fluid" id="sp-photo">
            <div class="container">
                    <h2 class=" splash-text display-3">Redfearn Phone Repair, Inc.</h2>
                    <hr class="my-4">
                    <h5 id="splash-motto">You know when you need a repair!</h5>
            </div>  
        </div>
    </div>

    <!--== Aside info ==-->
    <div class="splash-info col-md-3">
        <hr class="my-4">
        <h5>We fix the screens on a variety of iPhone models!</h5>
        <a id="splash-price-link" href="#pricing">See Prices</a>
        <hr class="my-4">
    </div>
</div>
