@import 'variables';

.red{
    color:red;
}
.contact{
    background-color: $main-bg;
    font-family: $font-stack;
    color:$font-color; 
    font-size: $font-size-md;
    
    .contact-title{
        padding: 0px 50px 0px 50px;

    }

    .contact-form{
        padding: 0px 50px 0px 50px;

        p{
            font-size: 0.8em;
            padding: 10px 0px 25px 0px;
        }
    }
    
    .contact-info{
        padding:0px 50px 0px 50px;
        a{
            text-decoration: none;
            color:$font-color;
        }
        a:hover{
            text-decoration: none;
            color:$font-color;
        }
        .contact-info-facebook{
            display: inline-block;
            height:30px;
            width:30px;
            background-size: cover;
            background-image: url('/assets/facebook.svg');
        }
        .contact-info-caption{
            height:30;
            display: inline-block;
        }

    }
}

#contact-require{
    padding:0px 0px 0px 0px;
}