//== Fancy fonts courtesy of Google Fonts
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Dancing+Script|Great+Vibes');
//font-family: 'Dancing Script', cursive;
//font-family: 'Great Vibes', cursive;
//font-family: 'Cedarville Cursive', cursive;


//== Variables

$font-stack-fancy: 'Great Vibes', cursive,'Palatino',"Times New Roman";
$font-stack:'Palatino',"Times New Roman";
$font-color: white;
$main-bg:#3C4041;
$secondary-color:rgb(85, 85, 85);
$font-size-md: 1.3em;

